<html>
 <center>
 This page is created by Ansible <p>
 This is message from {{ansible_hostname}} and the message is {{web_msg}}
 click here for server info: <a href="http://192.168.1.31:99/serverinfo.html">{{ansible_hostname}}</a>

 </center>
 </html>